@import '../../assets/scss/theme/colors';

.container {
  margin: 0 auto;
  max-width: 1180px;
  height: 100%;
  padding: 0 15px;
  padding-top: 80px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.chatWrapper {
  width: 100%;
  height: calc(100vh - 200px);
}

.controlsWrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectGroup {
  display: flex;
  align-items: center;
  gap: 110px;
  flex-wrap: wrap;
}

.select {
  button {
    height: 35px;
    display: flex;
    align-items: center;
  }
  div {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
}
.typesMessagesSelect {
  min-width: 294px;
}
.dateSelect {
  min-width: 142px;
  margin-right: 10px;
}
.statusSelect {
  min-width: 134px;
}
.label {
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: $telegrey;
}
