@import '../../../assets/scss/theme/colors';

.form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid $metallic;
}
.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid $metallic;
}
.header {
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-gray;
  border-radius: 10px;
  position: relative;
}
.label {
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  color: $turquoise;
}
.editBtn {
  width: 80px;
  height: 16px;
  padding: 0px 9px 0px 9px;
  border-radius: 12px;
  border: 0.5px solid $turquoise;
  background-color: $light-gray;
  font-size: 9px;
  font-weight: 400;
  line-height: 9.99px;
  color: $turquoise;
}
.clientDataList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listItem {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
  border-bottom: 1px solid $smoky-white;

  &:last-child {
    border-bottom: none;
  }
}
.fieldName {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: $telegrey;
}
.fieldValue {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: $black-brown;
}
