.searchBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  padding: 15px 30px !important;
}

@media (max-width: 768px) {
  .body {
    padding: 8.17px 16.34px !important;
  }
}

@media (max-width: 428px) {
  .body {
    padding: 5px 16px !important;
  }
}
