@import '../../assets/scss/theme/colors';

.container {
  margin: 0 auto;
  max-width: 1180px;
  min-width: 1150px;
  height: 100vh;
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.chatWrapper {
  width: 100%;
  height: calc(100vh - 380px);
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
