@import '../../assets/scss/theme/colors';

.container {
  margin: 0 auto;
  max-width: 1180px;
  min-width: 1150px;
  min-height: 1100px;
  padding: 0 15px;
  margin-top: 155px;
  margin-bottom: 188px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.chatWrapper {
  width: 100%;
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
