@import '../../../assets/scss/theme/colors';

.container {
  padding: 10px 16px;
  margin-top: 13px;
  display: flex;
  gap: 10px;
  box-shadow: 2px 4px 15px 0px $aluminum;
  border-radius: 8px;
}
.flex {
  gap: 10px;
}
.button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid $smoky-white;

  cursor: pointer;
  background-color: $white;

  svg {
    fill: $white;
    stroke: $turquoise;
  }
}
.active {
  background: $turquoise;
  border: none;

  svg {
    fill: $turquoise;
    stroke: $white;
  }
}
