.input {
  background-color: #f7f6f4 !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  line-height: 1.7;
  border-radius: 50rem !important;
  box-shadow: none !important;
  border: none !important;
}
